
/**
 * global styles
 */
:root {
  --color-bg: #ededed;
  --color-rose-light: #E5B1C0;
  --color-rose-dark: #B68392;
  --color-gold-light: #FFCE72;
  --color-gold-dark: #F2BA63;
  --color-opal-light: #B0A1C8;
  --color-opal-dark: #685B89;
  --color-orange-light: #FFA372;
  --color-orange-dark: #E1674A;
  --color-red-light: #FF7272;
  --color-red-dark: #C85151;
  --color-green-light: #93E89B;
  --color-green-dark: #65B26D;
  --color-blue-light: #72F7FF;
  --color-blue-dark: #27C1C1;
  --color-purple-light: #F4B1FF;
  --color-purple-dark: #ab4cbb;
  --color-gray-1: #E7E7E7;
  --color-gray-2: #BABABA;
  --color-gray-3: #5B5B5B;
  --color-gray-4: #3F3F3F;
  --color-gray-5: #222222;

  --font-family-title: Futura, sans-serif;
  --line-height-paragraph: 1.25;

  --gap-small: 60px;
  --gap-tiny: 30px;
  /* 300px * 2 + gap-small */
  --width-two-columns: 660px;
  --width-page-max: 900px;
}

body, html {
  margin: 0;
  padding: 0;

  background: var(--color-bg);
  font-family: Georgia, serif;
  font-size: 18px;
}

main {
  display: flex;
  margin: 0 auto;
  max-width: var(--width-page-max);
  flex-flow: column;
  padding-bottom: 10vh;
}
main section, main div {
  display: inherit;
}

p {
  white-space: pre-line;
  margin: 0;
  line-height: var(--line-height-paragraph);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
p a {
  color: var(--color-purple-dark);
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 0;
  font-family: var(--font-family-title);
  font-weight: 70;
}


/**
 * sections
 */
.hero {
  flex-flow: column;
  min-height: 100vh;
}

.hero-text {
  flex-flow: column;
  max-width: 520px;
  padding: 0 var(--gap-tiny);
}
h1 {
  font-size: 92px;
  margin: 0;
}
@media(max-width: 600px) {
  .hero-text {
    padding: var(--gap-tiny);
  }
  h1 {
    font-size: 64px;
  }
}
.hero-text > * + * {
  margin: 20px 0 0;
}

.colors {
  max-height: 240px;
  max-width: 600px;
  margin-bottom: -90px;
}

.hero-text-list {
  max-width: 310px;
}

.sunset {
  position: relative;
  top: -126px;
  left: 340px;
  max-width: 504px;
  /*height: 378px;*/
}
.title-sunset {
  display: none;
}
@media(max-width: 900px) {
  .sunset {
    display: none;
  }
}


.section {
  flex-flow: column;
  padding-top: 50px;
}
.section + * {
  margin-top: 16vh;
}

.title {
  position: relative;
}
.title-bg {
  position: absolute;
  top: -10px;
  background: url(colors-light.svg);
  background-size: cover;
  width: 360px;
  height: 40px;
}
@media(max-width: 360px) {
  .title-bg {
    width: 100vw;
  }
}
h2 {
  display: inline;
  position: relative;
  font-size: 46px;
  padding: 0 10px;
  background: var(--color-bg);
}

.stuff {
  flex-flow: column;
}
.stuff > * {
  margin-top: var(--gap-small);
  align-self: flex-start;
}
.stuff > *:nth-child(even) {
  align-self: flex-end;
}
@media(max-width: 600px) {
  .stuff > *, .stuff > *:nth-child(even) {
    align-self: stretch;
  }
}
.project {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  max-width: 600px;
}
.project-image {

}
.project img {
  position: relative;
  height: 250px;
  object-fit: cover;
  flex: 1 1 0;
  min-width: 0;
}
.project:hover > img {
  opacity: 0.5;
}
.project > .text {
  position: relative;
  background: var(--color-bg);
  padding: 8px 10px;
  flex-flow: column;
  margin: -40px 0 0 40px;
}
.project .title {
  font-family: var(--font-family-title);
  font-size: 36px;
  font-weight: bold;
  color: var(--color-orange-dark);
}

.project .description {
  line-height: var(--line-height-paragraph);
}

.small-projects {
  display: grid;
  gap: var(--gap-small);
  grid-template-columns: repeat(auto-fill, 300px);
  max-width: 660px;
}
/*
.small-projects > * {
  max-width: 300px;
}
*/
@media(max-width: 660px) {
  .small-projects {
    grid-template-columns: 1fr;
  }
}

.work-text {
  display: block;
}
@media(max-width: 900px) {
  .work-text {
    padding: 0 var(--gap-tiny);
  }
}
.work-text > * {
  margin-top: 1em;
}
.company-name {
  font-weight: bold;
}

.back-to-top {
  align-self: center;
  --color: var(--color-gray-3);
  color: var(--color);
}
.back-to-top svg path {
  fill: var(--color);
}
.back-to-top:hover {
  --color: var(--color-purple-dark);
}
